.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  @media (max-width: 768px) {
    // position: absolute;
    top: 10%;
    flex-direction: column;
    // left: 0;
    width: 100%;
    background-color: #fff;
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }
  &--open {
    display: flex;
  }
}

.header__menu-button {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  // @media (max-width: 768px) {
  //   // position: absolute;
  //   // top: 100%;
  //   flex-direction: column;
  //   // left: 0;
  //   width: 100%;
  //   // background-color: #fff;
  //   // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  //   // display: none;
  // }

  .header__logo {
    img {
      height: 3rem;
    }
  }

  .header__nav-link {
    color: #000;
    text-decoration: none;
    margin-right: 1rem;
    &:hover {
      color: rgb(10, 168, 167);
      text-decoration: none;
    }
  }
  .header__signin-btn {
    width: 8rem;
    text-align: center;
    height: 2.5rem;
    font-size: 20px;
    border: none;
    background-color: rgb(10, 168, 167);
    border-radius: 2rem;
    color: white;
  }
}
