.addNew {
  // default show 4 columns
  // if the screen is smaller than 768px, show 2 columns

  .container {
    margin: 0 auto;
  }

  .form-Fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 100%;
    column-gap: 5rem;
    justify-items: center;
    margin: 0 5rem;

    .form-Field-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      white-space: nowrap;
    }

    @media screen and (max-width: 850px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
      width: 100%;
      column-gap: 5rem;
      justify-items: center;
      margin: 0 2rem;
    }
    
    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
      width: 100%;
      column-gap: 5rem;
      justify-items: center;
      margin: 0 1rem;
    }
  }
}
