@mixin inputOne {
  font-size: 16px;
  // font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 0.75rem 1.25rem;
}
