// Variables
$primary-color: #f2f2f2;
$secondary-color: #ffffff;

// Table styles
$table-bg-color: #f2f2f2;
$table-border-color: #ffffff;
$table-header-bg-color: $secondary-color;
$table-header-color: #000000;

$table-hover-bg-color: #000000;
$table-hover-color: #fff;

table {
  width: 100%;
  border-collapse: collapse;
  background-color: $table-bg-color;
  border: 1px solid $table-border-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  th,
  td {
    padding: 0.5rem 1rem;
    text-align: center;
    border-bottom: 1px solid $table-border-color;
  }

  th {
    background-color: $table-header-bg-color;
    color: $table-header-color;
  }

  tr {
    height: 3rem;
  }

  tr:hover {
    background-color: $table-hover-bg-color;
    color: $table-hover-color;
  }

  td.selectable {
    cursor: pointer;
  }
}
