.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;

  //children to be centered
  > div {
    text-align: center;
    width: 100%;
  }

  .animation {
    position: relative;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
}
