@import '.././../sass/CommonVariables.scss';

.delivery_tracking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  label {
    margin-bottom: 0.5rem;
  }

  input {
    @include inputOne;
  }

  button {
    @include buttonOne;
  }

  .error {
    color: red;
  }

}
