@import '../../sass/CommonVariables.scss';

.form-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-title {
    padding: 0.5rem;
  }

  .form-inputs {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 768px) {
      // width: 50%;
    }
    .form-input-container {
      // margin: 0 auto;
      // margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        font-size: 0.9rem;
      }

      input {
        @include inputOne;

      }

      select {
        @include selectMenu
      }
      .error {
        font-size: 0.8rem;
        color: red;
      }
    }
  }
}

.form-submit {
  padding: 0.5rem;

  button {
    @include buttonOne;
  }
}
// input {
// }

.container {
  display: flex;
  gap: "5rem";
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  .div-container__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      width: 50%;
    }

    .div-container__left__title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .div-container__left__text {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
  }

  .div-container__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      width: 50%;
    }

    .div-container__right__title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .div-container__right__text {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
  }
}
