@import '../../sass/CommonVariables.scss';

.homePage {
  display: flex;
  gap: 5rem;
  text-align: center;
  margin: 2rem;
  // align-items: center;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    // flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    
  }

  &__leftColumn {
    flex: 1;
    // display: flex;
    align-self: center;
  }

  &__rightColumn {
    flex: 1;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }
}

input {
  @include inputOne;
}

button {
  @include buttonOne;
}

select {
  @include selectMenu;
}
