// Signup.scss

.signup {
  width: 100%;
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__input {
    height: 2rem;
    width: 16rem;
  }

  &__submit {
    width: 9rem;
    height: 2.5rem;
    font-size: 20px;
    border: none;
    background-color: rgb(10, 168, 167);
    border-radius: 2rem;
    color: white;

    // transition: background-color 1s ease-out;

    // &:hover {
    //   width: 12rem;
    //   height: 3rem;
    // }

    // &:focus {
    //   outline: none;
    //   background-color: rgba(0, 0, 0, 0.7);
    // }
  }
}
